* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color-red: #E3646E;
  --main-color-purple: #BB72E9;
  --main-color-blue: #3996DB;
  --mian-color-green: #82BC4F;
  --main-color-yellow:#EABD5F;

  --bs-gray-100: #0D0E11;
  --bs-gray-200: #16181D;
  --bs-gray-300: #292C34;
  --bs-gray-400: #878EA1;
  --bs-gray-500: #C0C4CE;
  --bs-gray-600: #E2E4E9;

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family: "Maven Pro", sans-serif;

  --title-lg: bold 56px/120% var(--font-family-title);
  --title-md: bold 24px/120% var(--font-family-title);
  --title-sm: bold 16px/120% var(--font-family-title);
  --subtitle: 400 20px/120% var(--font-family-subtitle);
  --text-md: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/140% var(--font-family);
  
}

body {
  font: var(--text-md);
  color: var(--bs-gray-500);
  background-color: var(--bs-gray-300);
}

header {
  background-image: url(/assets/templates/Background_Intro.png);
  background-position: bottom;
  background-size: contain;

  grid-template-columns: 760px;
  justify-content: center;
  justify-items: center;
}

.container {
  max-width: 1320px;
  padding-top: 120px;
  padding-inline: 163px;
  margin-inline: auto;
}

h1, h2, h3 {
  font: inherit;
}
