main.container {
  padding-block: 72px 144px;
}


#projects {

  article {
    background-color: var(--bs-gray-300);
    border-radius: 10px;
    padding: 12px;
  }

  div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;

    img {
      border-radius: 10px;
    }

    h3 {
      padding-block: 24px 8px;
    }

    p {
      padding-bottom: 5px;
    }

    h3, p {
      margin-left: 3px;
    }

  }

}