
#projects {

  article {
    background-color: var(--bs-gray-300);
    border-radius: 10px;
    padding: 12px;
  }

  article:hover {
    outline: 2px solid var(--bs-gray-400) ;
  }

  div {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-content: center;

    img {
      border-radius: 10px;
    }

    h3 {
      padding-block: 24px 8px;
    }

    p {
      padding-bottom: 5px;
    }

    h3, p {
      margin-left: 3px;
    }

  }

}

#services {
  background-color: var(--bs-gray-100);
  
  article {
    border: 1px solid var(--bs-gray-200);
    border-radius: 10px;
    padding: 20px;

    width: 280px;
    
    span {
      align-self: center;
    }

    div {
      align-self: end;
    }
  } 
}