.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.gap-56 {
  gap: 56px;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.flex {
  display: flex;
}

.text-2xl {
  font: var(--title-lg);
}

.text-xl {
  font: var(--title-md);
}

.text-lg {
  font: var(--title-sm);
}

.text-sub {
  font: var(--subtitle);
}

.text-sm {
  font: var(--text-sm);
}

.color-sub {
  color: var(--main-color-red);
}

.color-title {
  color: var(--bs-gray-600);
}